@model sl_vera_covid19.mvc.ViewModels.CovidRegistrationViewModel

@{
    ViewData["Title"] = "Covid19";
}

<h1>Rediger</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cpr" class="control-label"></label>
                <input asp-for="Cpr" class="form-control"/>
                <span asp-validation-for="Cpr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate" class="control-label"></label>
                <input asp-for="RegistrationDate" class="form-control"/>
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Result"/>
                    @Html.DisplayNameFor(model => model.Result)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til liste</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}